<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <s48_stockfilter>
            <settings>
                <enabled>1</enabled>
                <label>Availability</label>
                <url_param>in-stock</url_param>
                <position>bottom</position>
                <enable_in_stock_filter_on_es_side>0</enable_in_stock_filter_on_es_side>
            </settings>
        </s48_stockfilter>
    </default>
</config>
